<!DOCTYPE html>
<html>
<head>
    <title>wfdrops - <%= enemy.name %> Drop Table</title>
    <link rel="stylesheet" type="text/css" href="/public/css/stylesheet.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div>
        <h1><%= enemy.name %> Drop Table Listing</h1>
    </div>
    <div class="metadata">
        <p><span title="Chance that this enemy drops a mod">Mod Drop Chance: </span><%= (Math.round(enemy.mod_drop_chance * 100 * 100) / 100).toString() + "%" %></p>
        <p><span title="Chance that this enemy drops a blueprint">Blueprint Drop Chance: </span><%= (Math.round(enemy.blueprint_drop_chance * 100 * 100) / 100).toString() + "%" %></p>
    </div>
    <div class="container">
        <div class="container-item">
            <h3>Mods</h3>
            <div class="border">
                <%- mods %>
            </div>
        </div>
        <div class="container-item">
            <h3>Blueprints</h3>
            <div class="border">
                <%- blueprints %>
            </div>
        </div>
    </div>
</body>
</html>