<!DOCTYPE html>
<html>
<head>
    <title>wfdrops - <%= relic %> Listing</title>
    <link rel="stylesheet" type="text/css" href="/public/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/public/css/relic.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div>
        <h1><%= relic %> Listing</h1>
    </div>
    <div>
        <div class="tab-container center">
            <div class="tab-header">
                <div class="tab-tab active">
                    <p>Intact</p>
                </div>
                <div class="tab-tab">
                    <p>Exceptional</p>
                </div>
                <div class="tab-tab">
                    <p>Flawless</p>
                </div>
                <div class="tab-tab">
                    <p>Radiant</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-item active">
                    <%- intact %>
                </div>
                <div class="tab-item">
                    <%- exceptional %>
                </div>
                <div class="tab-item">
                    <%- flawless %>
                </div>
                <div class="tab-item">
                    <%- radiant %>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/public/js/relics/relic.js"></script>
</body>
</html>