<!DOCTYPE html>
<html>
<head>
    <%- include("../../partials/head"); %>
    
    <title>wfdrops - <%= mission.node %> Drop Table</title>
    <link rel="stylesheet" type="text/css" href="/public/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/public/css/relic.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div>
        <h1><%= mission.node %> Drop Table Listing</h1>
    </div>
    <div class="metadata">
        <p><span title="Planet or other area this mission is located in">Sector: </span><%= mission.sector ? mission.sector : "None" %></p>
        <p><span title="Type of the mission">Mission Type: </span><%= mission.mission_type ? mission.mission_type : "None" %></p>
        <p><span title="How rewards are given to players">Reward Scheme: </span><%= mission.reward_scheme.charAt(0).toUpperCase() + mission.reward_scheme.slice(1) %></p>
    </div>
    <div>
        <%- pug %>
    </div>
    <script type="text/javascript" src="/public/js/missions/missions.js"></script>
    <script type="text/javascript" src="/public/js/missions/tab.js"></script>
</body>
</html>